h1{
    color: rgb(70, 175, 158);
}

h2{
    color: rgb(70, 175, 158);
}

h3{
    color: rgb(70, 175, 158);
}


body {
    background-color: rgb(232, 236, 236);
}

.main_text{
    background-color: white;
    border-radius: 3px;

}

.side_plots {
    background-color: white;
    border-radius: 3px;
}


@media (max-width: 600px) {

    body {
        background-color: white;
    }

    
}